/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}

/* Icons */

.fa-linkedin,
.fa-twitter,
.fa-github,
.fa-envelope-o {
    color: #444;
}
/*
 * Base structure
 */

html,
body {
    height: 100%;
    color: #444;
    text-align: center;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
    -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.2);
            box-shadow: inset 0 0 100px rgba(0,0,0,.2);
}

.site-wrapper-inner {
    display: table-cell;
    vertical-align: middle;
}

.cover-container {
    margin-right: auto;
    margin-left: auto;
}

.avatar-container {
      text-align: center;
}

.text-container {
      text-align: center;
}

/* Padding for spacing */
.inner {
    padding: 30px;
}

.row {
    margin: 0px;
}

/*
 * Cover
 */

.cover {
    padding: 0 20px;
}

.cover-heading {
    margin-top: 15px;  
}

.lead {
    margin-bottom: 5px;
}

.footer {
    padding: 10px 0;
    margin: 60px auto;
    border-top: 1px solid #ededed;
    font-size: 1.3rem;
    color: #aaa;
    font-weight: 100;
    text-align: center;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Handle the widths */
  .cover-container {
      width: 80%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .cover-container {
      width: 700px;
  }
}
